@charset "UTF-8";

/*
 * GoBoo - GET IT. BOOK IT. [http://goboo.de]
 *
 * (c) Tristan Lins <t.lins@goboo.de>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.goboo_booking {
	width: 53em;

	.goboo_details {
		float: right;
		width: 12em;
		padding-left: 1em;
		box-sizing: border-box;
	}
	.goboo_form {
		margin-right: 13em;
		text-align: left;
	}
	.goboo_booking_contact {
		float: left;
		width: 13em;
		padding-right: 1em;
		box-sizing: border-box;
	}
	.goboo_game_modes {
		float: left;
		width: 13em;
		padding-right: 1em;
		box-sizing: border-box;
	}
	.goboo_booking_players {
		float: left;
		width: 13em;
		padding-right: 1em;
		box-sizing: border-box;
	}
	.goboo_booking_exclusive {
		margin-left: 26em;
	}
	.goboo_booking_successors {
		margin-left: 26em;
	}

	.goboo_input,
	.goboo_checkbox,
	.goboo_radio {
		margin: .5em 0 .75em;

		label {
			display: block;
		}
		.goboo_label {
			font-size: 14px;
		}
		.goboo_input {
			margin: .25em 0;
		}
		input[type=text],
		input[type=tel],
		input[type=email],
		select {
			display: block;
			width: 100%;
		}
		.goboo_hint {
			font-size: 11px;
		}
	}
	.goboo_book_action {
		text-align: center;
	}

	&.goboo_no_modes {
		.goboo_game_modes {
			display: none;
		}
	}
}

