/* *** slot details *** */
$initialisationText: 'goboo lädt\2026';
$updateText: 'aktualisiere Spieldaten\2026';
$emptyText: 'keine Spieldaten verfügbar';

$progressMinPlayers: 10;
$progressMaxPlayers: 28;
$progressBackgroundColor: #AAB2C0;
$progressForegroundColor: #2F416B;
$progressOverlayBackgroundColor: #fff;
$progressOverlayTextColor: #2F416B;

/* *** calendar *** */
$calendarSlotTopBorder: 1px;
$calendarSlotBottomBorder: 1px;
$calendarSlotSmallestTimeUnit: 5; // 5 minutes
$calendarSlotTimeUnitHeight: 4px;
$calendarSlotMaxTimeUnitCount: 48; // 4 hours
$calendarPauseMaxCount: 288; // 24 hours
$calendarEmptyMaxCount: 288; // 24 hours
$calendarTimeSpanCount: 12; // 1 hour

@import "../stylesheets/calendar";
@import "../stylesheets/slot_details";
@import "../stylesheets/booking_mask";

.goboo_slot_details {

  width: 160px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 6px #cecfd0;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;

  .goboo_datetime {
    margin-bottom: .5em;

    span {
      display: block;
      font-size: 42px;
    }
  }
  .goboo_duration {
    margin: .5em 0;
  }
  .goboo_players_indicator {
    display: inline-block;
    overflow: hidden;
    text-align: left;
  }
  .goboo_modes {
    margin: .5em 0;

    abbr {
      margin: .25em;

      &.goboo_mode_invalid {
        text-decoration: line-through;
      }
      &.goboo_mode_prefered {
        color: #b6c000;
      }
      @for $votes from 0 through 32 {
        &[data-goboo-votes="#{$votes}"] {
          font-size: 10px + $votes;
        }
      }
    }
  }
  .goboo_book_action {
    display: block;
    margin-top: 1.5em;
    text-transform: uppercase;
    color: #b6c000;

    &.goboo_disabled {
      color: inherit;
      cursor: default;
      text-decoration: line-through;
    }
  }

  /**
   * The following progress style based on the radial progress bar css from http://codepen.io/geedmo/pen/InFfd
   */

  .goboo_players {
    position: relative;
    float: left;
    margin: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid $progressBackgroundColor;
    background-color: $progressBackgroundColor;

    .goboo_overlay {
      position: absolute;
      width: 70px;
      height: 70px;
      background-color: $progressOverlayBackgroundColor;
      color: $progressOverlayTextColor;
      border-radius: 50%;
      margin-left: 23px;
      margin-top: 23px;
      text-align: center;
      line-height: 70px;
    }
  }

  @for $loops from $progressMinPlayers through $progressMaxPlayers {
    $increment: round(360 / $loops);
    $half: round($loops / 2);

    @for $i from 0 through ($loops - 1) {
      .goboo_players.goboo_players_count_#{$loops}.goboo_players_#{$i} {
        @if $i < $half {
          $nextdeg: 90deg + ( $increment * $i );
          background-image: linear-gradient(90deg, $progressBackgroundColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $progressForegroundColor 50%, $progressBackgroundColor 50%, $progressBackgroundColor);
        } @else {
          $nextdeg: -90deg + ( $increment * ( $i - $half ) );
          background-image: linear-gradient($nextdeg, $progressForegroundColor 50%, transparent 50%, transparent), linear-gradient(270deg, $progressForegroundColor 50%, $progressBackgroundColor 50%, $progressBackgroundColor);
        }
      }
    }

    .goboo_players.goboo_players_count_#{$loops}.goboo_players_#{$loops} {
      background-image: linear-gradient(90deg, $progressForegroundColor 50%, transparent 50%, transparent), linear-gradient(270deg, $progressForegroundColor 50%, $progressBackgroundColor 50%, $progressBackgroundColor);
    }
  }
}

// ===================================================================

#goboo_calendar_wrapper,
#goboo_slot_details_wrapper,
#goboo_booking_wrapper {
  * {
    box-sizing: content-box;
  }
}

#goboo_slot_details,
#goboo_booking {
  .goboo_datetime {
    color: #fff;
    margin-bottom: 0;
    font-weight: bold;

    strong {
      display: block;
      font-size: 3em;
      line-height: 1em;
      font-weight: normal;
      color: #2F416B;
    }
  }
  .goboo_duration {
    color: #fff;
    margin-top: 0;
  }
}

.goboo_date_selector {
  margin-bottom: 1em;
}

#goboo_calendar {
  .goboo_slot_button {
    position: relative;
    display: block;
  }
  .goboo_slot_attendance {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    text-align: center;
    color: #444;
    z-index: 1;
  }
  span.goboo_slot_button .goboo_slot_attendance {
    color: #aaa;
  }
  .goboo_slot_button:hover .goboo_slot_attendance {
    color: #fff;
  }
  .goboo_slot_players {
    position: absolute;
    height: 10%;
    bottom: 0;
    left: 0;
    padding: 0;
    background: #1e5799; /* Old browsers */
    background: linear-gradient(to bottom, #1e5799 0%, #304269 100%); /* W3C */
    border-radius: 5px;
  }
  .goboo_slot_button:hover {
    background-color: #304269;
  }
  span.goboo_slot_button {
    background-color: transparent;
  }
  .goboo_slot_locked {
    background-color: #AAB1BF;
  }
  .goboo_slot_locked:before {
    content: '';
  }
  .goboo_slot_locked .goboo_slot_players {
    display: inline;
    width: 90% !important;
    background-color: #98B955;
  }

  .goboo_player_names {
    position: absolute;
    color: #fff;
    background-color: #2F416B;
    border-radius: 5px;
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    text-align: left;
    white-space: nowrap;
    transform: scale(0);
    transition: all 300ms;
    z-index: 10;

    .inner {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .goboo_slot_button:hover .goboo_player_names {
    transform: scale(1);
    transition: all 300ms;
  }
  .goboo_day_of_week_1,
  .goboo_day_of_week_2,
  .goboo_day_of_week_3 {
    .goboo_player_names {
      left: 100%;
      top: 0;
      margin-left: 12px;
      transform-origin: 0 50%;

      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        left: -20px;
        top: 10px;
        border-width: 6px 10px 6px 10px;
        border-style: solid;
        border-color: transparent #2F416B transparent transparent;
      }
    }
  }
  .goboo_day_of_week_4,
  .goboo_day_of_week_5,
  .goboo_day_of_week_6,
  .goboo_day_of_week_0 {
    .goboo_player_names {
      right: 100%;
      top: 0;
      margin-right: 12px;
      transform-origin: 100% 50%;

      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        right: -20px;
        top: 10px;
        border-width: 6px 10px 6px 10px;
        border-style: solid;
        border-color: transparent transparent transparent #2F416B;
      }
    }
  }
  @for $index from 0 through 6 {
    @if $index == 0 {
      $index: 7;
    }

    $cols: max(7 - $index, $index - 1);

    .goboo_day_of_week_#{$index} {
      .goboo_player_names {
        max-width: $cols * 100%;
      }
    }
  }
}

#goboo_slot_details_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
  z-index: 50002;
}

#goboo_slot_details {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -80px;
  background: #AAB2C0;
  border-radius: 0;
  font-size: 14px;

  a.goboo_book_action {
    background-color: #2F416B;
    color: #fff;
    padding: 8px;
  }
}

#goboo_booking_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
  z-index: 50002;
}

#goboo_booking {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -26.5em;
  background: #F2F2F2;
  background-image: linear-gradient(to left, transparent 1em, #AAB2C0 1em, #AAB2C0 13em, transparent 13em);
  border-radius: 0;
  font-size: 14px;

  .goboo_booking_contact,
  .goboo_booking_players {
    width: 19em;
  }

  select:disabled,
  input:disabled {
    color: #ccc;
  }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
    width: auto;
  }
  div.goboo_input {
    label {
      position: relative;
    }
    span.goboo_label {
      position: absolute;
      top: 10px;
      left: 11px;
      color: #7E7E7E;
      display: none;

      strong {
        text-transform: uppercase;
      }
    }
    input {
      border-width: 2px;
      border-color: #C5C5C5;
      box-sizing: border-box;
      background-color: #fff;
    }
    input.empty ~ span.goboo_label {
      display: block;
    }
  }
  button {
    padding: 8px;
    margin: 0;
    border: none;
    color: #fff;
    background: #2F416B;
    cursor: pointer;
  }

  #player_count_slider_wrapper,
  #rounds_slider_wrapper {
    background-color: #bbbbbb;
    background-image: linear-gradient(to bottom, #bbbbbb, #d3d3d3);
    height: 38px;
    border-radius: 38px;
    padding: 0 19px;
  }
  #player_count_slider_wrapper {
    margin-bottom: 1.5em;
  }
  .time-span-selection {
    text-align: right;
    margin-bottom: .5em;

    label:first-child {
      float: left;
    }
  }
  .ui-slider-horizontal {
    height: 38px;
  }
  .ui-slider-handle {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #898989;
    border-radius: 38px;
    background-color: white;
    top: 0;
    margin-left: -19px;
    text-align: center;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
  .goboo_booking_successors_selection {
    display: none;
  }
  .goboo_exclusive {
    display: block;
    margin: 1.25em 0;
    font-size: .85em;
  }

  .players {
    #goboo_existing_players {
      li.tagit-choice {
        padding: .2em .5em;
      }
    }
    ul.tagit {
      border: none;
      padding: 0;
      overflow: visible;

      li.tagit-choice {
        background-color: #bbbbbb;
        background-image: linear-gradient(to bottom, #bbbbbb, #d3d3d3);
        border-radius: 15px;

        .tagit-close {
          right: .4em;
          margint-top: -9px;

          .text-icon {
            display: inline-block;
          }
          .ui-icon {
            display: none;
          }
        }
      }
      li.tagit-new {
        display: block;
        float: none;
        clear: left;
        background-color: #bbbbbb;
        background-image: linear-gradient(to bottom, #bbbbbb, #d3d3d3);
        min-height: 38px;
        border-radius: 19px;
        padding: 0 19px;

        input {
          display: block;
          width: 100%;
          border: none;
          height: 38px;
          line-height: 38px;
          background-color: transparent;
        }
      }
    }
  }
}
